<div class="coworking-home-top">
  <div class="coworking-reservations-flex-box">
    <div class="coworking-reservations-grid">
      <div class="room-map-header">
        <mat-card appearance="outlined">
          <mat-card-title class="room-map-title">
            Drop-in to any room
          </mat-card-title>
        </mat-card>
      </div>
      <div class="room-map">
        <mat-card appearance="outlined">
          <room-map
            [rooms]="rooms$ | async"
            (roomPressed)="navigateToRoomSelection($event)"></room-map>
        </mat-card>
      </div>
      <mat-card appearance="outlined">
        <mat-card-content>
          <mat-action-list class="reservation-link">
            <mat-list-item (click)="navigateToNewReservation()">
              <h3 matListItemTitle>{{ 'Room Reservations' }}</h3>
              <p matListItemLine>{{ 'Make a new room reservations!' }}</p>
              <h3 matListItemMeta>&rsaquo;</h3>
            </mat-list-item>
          </mat-action-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="coworking-reservations-grid">
      <ng-container *ngIf="status$ | async as status">
        <ng-container
          *ngIf="
            openOperatingHours$ | async as openOperatingHours;
            else closed
          ">
          <coworking-operating-hours-panel
            [operatingHours]="status.operating_hours"
            [openOperatingHours]="openOperatingHours">
          </coworking-operating-hours-panel>
        </ng-container>

        <!-- Drop-in section directly below operating hours -->
        <ng-container>
          <ng-template #dropin>
            <div
              class="dropin-card-container"
              *ngIf="openOperatingHours$ | async">
              <coworking-dropin-availability-card
                [seat_availability]="status.seat_availability"
                (seatsSelected)="reserve($event)">
              </coworking-dropin-availability-card>
            </div>
          </ng-template>
        </ng-container>

        <ng-container
          *ngIf="activeReservation$ | async as activeReservation; else dropin">
          <coworking-reservation-card
            (updateActiveReservation)="setActiveReservation()"
            (reloadCoworkingHome)="reloadPage()"
            [reservation]="activeReservation">
          </coworking-reservation-card>
        </ng-container>

        <ng-template #closed>
          <coworking-operating-hours-panel
            [operatingHours]="status.operating_hours">
          </coworking-operating-hours-panel>
        </ng-template>
      </ng-container>

      <div class="upcoming-card-container">
        <!-- Show upcoming room reservations -->
        <ng-container
          *ngIf="((upcomingRoomReservation$ | async) ?? []).length > 0">
          <h2>Upcoming Room Reservations</h2>
          <ng-container *ngFor="let r of upcomingRoomReservation$ | async">
            <ng-container *ngIf="r?.room?.id">
              <coworking-reservation-card
                [reservation]="r"
                (reloadCoworkingHome)="ngOnInit()">
              </coworking-reservation-card>
              <br />
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
