.mat-mdc-card {
    max-width: 100%;
  }
  
  .mat-mdc-card-header {
    margin-bottom: 16px;
  }
  
  .walkinReservation.mat-mdc-card-content:last-child {
    padding-bottom: 0;
  }
  
  button {
    margin-right: 1vw;
  }

  .flex-box {
    display: flex;
    flex-direction: row;
  }
  
  .room-map {
    min-width: 300px;
  }

  .dropin-card-container {
    max-width: 500px;
  }

  .card-no-padding-top {
    padding-top:0;
    margin-top:0;
  }