<div class="seat-selection-flex-box">
  <div class="seat-selection-card-container">
    <mat-card class="seat-selection-card" appearance="outlined">
      <mat-card-title class="mat-card-title">Seats Selection</mat-card-title>
      <mat-divider class="divider"></mat-divider>
      <mat-card-content class="mat-card-content">
        <div class="seats-container">
          <div class="seats-label">Seat(s)</div>
          <ul class="seat-list-inline">
            <li *ngFor="let seat of selectedSeats">{{ seat.title }}</li>
          </ul>
        </div>
      </mat-card-content>
      <mat-divider class="divider"></mat-divider>
      <mat-card-content class="mat-card-bottom">
        <button
          *ngIf="selectedSeats.length > 0"
          mat-button
          class="mat-card-button"
          (click)="reserve(selectedSeats)">
          Reserve
        </button>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="seating-chart-container">
    <mat-card appearance="outlined">
      <mat-card-content>
        <ng-container
          *ngIf="
            (adminPermission$ | async) || (ambassadorPermission$ | async);
            else elseBlock
          ">
          <ng-container *ngIf="status$ | async as status">
            <ng-container *ngIf="room as room">
              <seating-chart
                [room]="room"
                [seat_availability]="
                  room.id === 'SN156' ? status.seat_availability : this.seats
                "
                [viewOnly]="false"
                [update_selected_seats]="selectedSeats"
                (seatsSelected)="seatsSelected($event)"></seating-chart>
            </ng-container>
          </ng-container>
        </ng-container>
        <ng-template #elseBlock>
          <ng-container *ngIf="status$ | async as status">
            <ng-container *ngIf="room as room">
              <seating-chart
                [room]="room"
                [seat_availability]="
                  room.id === 'SN156' ? status.seat_availability : this.seats
                "
                [selection_limit]="2"
                (seatsSelected)="seatsSelected($event)"></seating-chart>
            </ng-container>
          </ng-container>
        </ng-template>
      </mat-card-content>
      <!-- Seat Legend -->
      <mat-card-content>
        <div class="seat-legend">
          <div class="legend-items">
            <!-- Manually defined legend items -->
            <div class="legend-item">
              <span class="legend-color" style="background-color: #9FFFA9;"></span>
              <span class="legend-text">Sitting Desk with Monitor</span>
            </div>
            <div class="legend-item">
              <span class="legend-color" style="background-color: #9FA6FF;"></span>
              <span class="legend-text">Standing Desk with Monitor</span>
            </div>
            <div class="legend-item">
              <span class="legend-color" style="background-color: #FF9BA5;"></span>
              <span class="legend-text">Communal Area Seats</span>
            </div>
            <div class="legend-item">
              <span class="legend-color" style="background-color: #FFC700;"></span>
              <span class="legend-text">Selected Seats</span>
            </div>
            <div class="legend-item">
              <span class="legend-color" style="background-color: #CCCCCC;"></span>
              <span class="legend-text">Unavailable Seats</span>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
